<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Anton|Cabin" rel="stylesheet">
    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <style>
        h3{
             font-family: Anton;
             color: #b71c1c;
             margin-top: 0px;
         }
         p{
             font-family: Cabin;
             font-size: 22px;
         }
         label{
             font-size: 16px;
         }
         nav{
            border-bottom: 4px solid #b71c1c;
        }
        .card{
            align-content: center;
            height: 923px;
        }
       #side-nav .card{
           background-color: white;
           height: 923px;
        }
        #side-nav .card a{
            color: black;
            padding: 12px;
            display: block;
            font-size: 20px;
            font-family: Cabin;
            border-bottom: 2px solid #b71c1c;
        }
        #side-nav .card a:hover{
            background-color: #b71c1c;
            color: white;
        }
        #person-icon{
           padding: 4px;
        }
        #footer{
    <!--background-image: url(../static/images/footer.jpg);-->
    <!--background-position: center;-->
    <!--background-size: cover;-->
    background-color: #3c3c3c;
    height: 500px;
}
    </style>
</head>

<body>

    <header id="header">
        <nav class="nav nav-wrapper transparent">
            <div class="container">
                <a href="/" class="brand-logo black-text">Medical Firm</a>
                <ul class="right">
                    <li><a class="black-text" href="#">Features</a></li>
                    <li><a class="black-text" href="#">Tests</a></li>
                    <li><a class="black-text" href="#">Genetics</a></li>
                    <li><a class="black-text" href="/medical_library">Medical Library</a></li>
                    <li><a href="" id="person-icon"><i class="material-icons red-text text-darken-4">person</i></a></li>
                    <li><a class="black-text">{{request.user}}</a></li>
                    <li><a href="{% url 'logout' %}" class="btn red darken-4">Log Out</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="section">
        <div class="row">
            <div class="col m3 hide-on-small-and-down" id="side-nav">
                <div class="card">
                    <div class="card-content">
                            <a href="/patient_details">Add Patient</a>
                            <a href="/view_patient">View Patient</a>
                    </div>
                </div>
            </div> 
            <div class="col m9 s12">
                <div class="card">
                    <div class="card-content">
                        <form action="" method="post">
                            {%csrf_token%}
                            <h3>Patient Details</h3>
                            <div class="row">
                                <div class="col m6 s12">
                                    <div class="group">
                                        <label for="patientId"><b class="red-text text-darken-4">Patient Id</b></label>
                                        <input id="patientId" type="text" placeholder="Enter your Id" disabled="disabled" />
                                    </div>
                                </div>

                                <div class="col m6 s12">
                                    <label for="name"><b class="red-text text-darken-4">Name</b></label>
                                    <input required type="text" name="name" placeholder="Enter your name" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <label for="ref-dr"><b class="red-text text-darken-4">Ref. Doctor</b></label>
                                    <select required class="browser-default" name="doctor">
                                        <option value="" disabled selected>Ref. Doctor</option>
                                        <option value="">
                                            {%for i in f%}
                                                {{i}}
                                            {%endfor%}
                                        </option>
                                    </select>
                                    <input id="doctor" type="hidden" name="doctor" />
                                </div>
                                <div class="col m3 s6">
                                    <label for="dob"><b class="red-text text-darken-4">DOB</b></label>
                                    <input required id="dob" name="DOB" type="text" class="datepicker" placeholder="DD/MM/YY" />
                                </div>
                                <div class="col m3 s6">
                                    <label for="gender"><b class="red-text text-darken-4">Gender</b></label>
                                    <select required name="parameters" class="browser-default">
                                        <option value="" disabled selected>Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="undefined">Undefined</option>
                                    </select>
                                    <input required id="gender" type="hidden" name="gender" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <label for="ref-hospital"><b class="red-text text-darken-4">Ref. Hospital</b></label>
                                    <select required class="browser-default", name="hospital">
                                        <option value="" disabled selected>Ref. Hospital</option>
                                        {% for i in hospital %}
                                        <option value="1">

                                            {{i}}

                                        </option>
                                        {% endfor %}

                                    </select>
                                    <input required id="hospital_value" type="hidden" name="hospital_value" />
                                </div>
                                <div class="col m6 s12">
                                    <div class="group">
                                        <label for="IP No."><b class="red-text text-darken-4">IP No.</b></label>
                                        <input required type="text" name="IP" placeholder="Enter your IP No." />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <label for="datepicker"><b class="red-text text-darken-4">Pick a date</b></label>
                                    <input required id="output" name="date" type="text">
                                </div>
                                <div class="col m6 s12">
                                    <div class="group">
                                        <label for="email"><b class="red-text text-darken-4">Email</b></label>
                                        <input required type="text" name="user_email" placeholder="Enter your Email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <div class="group">
                                        <label for="text"><b class="red-text text-darken-4">Test Chart</b></label>
                                        <input required type="text" placeholder="Add a test" />
                                        <button onclick="myFunction(); return false;" class="btn-small red darken-4">add</button>
                                        <div style="display:none" id="table">
                                            <table>
                                                <tr>
                                                    <td><b>Test Name</b></td>
                                                    <td><b>Test Name</b></td>
                                                    <td><b>Test Name</b></td>
                                                </tr>
                                            </table>
                                            <table id="testTable">

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col m6 s12">
                                    <div class="group">
                                        <label for="text"><b class="red-text text-darken-4">Total Discount (%)</b></label>
                                        <input disabled type="text" placeholder="Total Discount By" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col m6 s12">
                                    <div class="group">
                                        <label for="text"><b class="red-text text-darken-4">Amount Paid</b></label>
                                        <input required type="text" placeholder="Amount Paid" />
                                    </div>
                                </div>
                                <div class="col m6 s12">
                                    <div class="group">
                                        <label for="text"><b class="red-text text-darken-4">Balance Due</b></label>
                                        <input disabled type="text" name="balance" placeholder="Balance Due" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col m6 s12">
                                    <div class="group">
                                        <label for="text"><b class="red-text text-darken-4">Total Amount</b></label>
                                        <input disabled type="text" name="total" placeholder="Total" />
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <button class="btn red darken-4" onclick="onSubmit()">Submit</button>
                            <button class="btn red darken-4">Print Report</button>
                    </div>
                </div>
                 </form>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer" class="page-footer grey darken-4">
        <section class="section container">
            <div class="row">
                <div class="col m10 s12">
                    <h3 class="white-text">Stay Healthy. Stay Fit. In Doubt Reach Us :</h3>

                    <p><b>Phone No : </b> 0861- 2310792</p>
                    <p><b>Location : </b> S.S Diagnostics, <br> Railway Line Street, <br> Near Vijayamahal Gate, <br>
                        Nellore - 524001.</p>
                </div>
            </div>
        </section>
        <div class="footer-copyright">
            <div class="container center">
                &copy; 2018 The Medical Firm
            </div>
        </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var myNum = Math.floor(Math.random()*1000000);
    myNum = myNum.toString();
    console.log(myNum);
document.getElementById("patientId").value = "PTID" + myNum;
var today = new Date();

var day = today.getDate();
var month = today.getMonth() + 1;
var year = today.getFullYear();

if (day < 10) {
  day = '0' + day
}
if (month < 10) {
  month = '0' + month
}

var out = document.getElementById("output");

out.value = day + "/" + month + "/" + year;

<!--table data-->

function myFunction(e){
$("#table").show();
var table = document.getElementById("testTable");
var row = table.insertRow(0);
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2);
cell1.innerHTML = "NEW CELL1";
cell2.innerHTML = "NEW CELL1";
cell3.innerHTML = "NEW CELL1";
}

<!--gender-->
function onSubmit(){
    var s =document.getElementsByName('parameters')[0];
    var text=s.options[s.selectedIndex].text;
    document.getElementById('gender').value=text;
}

<!--ref. dr-->
function onSubmit(){
    var s =document.getElementsByName('doctor')[0];
    var dr=s.options[s.selectedIndex].text;
    document.getElementById('doctor').value=dr;
}

<!--ref. Hospital-->
function onSubmit(){
    var s =document.getElementsByName('hospital')[0];
    var hos=s.options[s.selectedIndex].text;
    document.getElementById('hospital_value').value=hos;
}
</script>    
</body>

</html>